<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/index.css')}}"
    />

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Flask Activty</title>
    {% endif %}
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Flask Project</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.login') }}"
                  >Login</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('views.register') }}"
                  >Create</a
                >
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container w-full h-full mt-3 py-2">
      <div class="row">
        <div class="col-md-9">{% block content %}{% endblock %}</div>
        <div class="col-md-3">
          <div class="card shadow p-3">
            <h4 class="card-title">Boostrap Offline!</h4>
            <div class="card-body list-group">
              <li class="list-group-item">Hello World</li>
              <li class="list-group-item">Hello World</li>
              <li class="list-group-item">Hello World</li>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
